{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h1>Bienvenue sur le site de la Billetterie des Jeux Olympiques France !</h1>
                <p class="lead">Découvrez nos offres exceptionnelles pour les Jeux Olympiques.</p>
            </div>
        </div>

        <div class="row justify-content-center mt-4">
            <div class="col-md-4">
                <img src="{{ asset('img/img1.png') }}" alt="Image 1" class="img-fluid rounded">
            </div>
            <div class="col-md-4">
                <img src="{{ asset('img/img2.png') }}" alt="Image 2" class="img-fluid rounded">
            </div>
            <div class="col-md-4">
                <img src="{{ asset('img/img3.png') }}" alt="Image 3" class="img-fluid rounded">
            </div>
        </div>

        <div class="row justify-content-center mt-5">
            <div class="col-md-8 text-center">
                <p>Explorez nos différentes catégories de billets et ne manquez pas cet événement unique !</p>
                <a href="{{ path('app_offres') }}" class="btn btn-primary btn-lg">Voir toutes les offres</a>
            </div>
        </div>
    </div>
{% endblock %}