{# templates/admin/index.html.twig #}
{% extends 'base.html.twig' %} {# Il étend le layout racine #}

{% block title %}{% block admin_title %}Administration{% endblock %}{% endblock %} {# Permet de changer le titre de l'admin #}

{% block body %} {# Ce bloc 'body' est celui du layout base.html.twig #}

  

    <div class="container mt-4" style="flex-grow: 1;">
        
        {% block body_content %}{% endblock %} 
    </div>

{% endblock %}