{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe{% endblock %}

{% block body %}
    <h1>Modifier mon mot de passe</h1>

    <p>Ici, vous pourrez modifier votre mot de passe.</p>

    

    <a href="{{ path('app_profile_index') }}">Retour à mon compte</a>
{% endblock %}