{% extends 'base.html.twig' %}

{% block title %}Choisir une catégorie d'événements{% endblock %}

{% block body %}
    <div class="form-container">
        <div class="form-header">
            <h1>Choisir une catégorie d'événements</h1>
        </div>
        <div class="form-body">
            <ul class="list-group">
                {% for cat in categories %}
                    <li class="list-group-item">
                        <a href="{{ path('admin_evenement_by_category', {'category': cat.categorie}) }}">{{ cat.categorie }}</a>
                    </li>
                {% else %}
                    <li class="list-group-item">Aucune catégorie trouvée.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}